.form{
    width: 100%;
    margin:0 auto;
}
.text-danger{
    color: red;
}

.heading-lv1 {
    font-size: 32px;
    font-style: italic;
}

.heading-lv2 {
    font-size: 24px;
}

.heading-lv3 {
    font-size: 20px;
}
.text {
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 1.5;
}

.text-center {
    text-align: center;
}
.profile-image {
    margin: 16px 0 0;
    text-align: center;
}

.profile-image img {
    width: 150px;
    height:auto;
    border-radius: 50%;
}
li{
    list-style: none;
}

#preview{
    border-radius: 50%;
}